.gradle/
.intellijPlatform/
build/
**/build/
**/node_modules/
.kotlin/
**/test-results/
resources/webview/
demo/resources/webview/
markdown-preview/resources/webview/
samples/hello-webview/resources/webview/
